In [1]:
import csv
#f = open("sample.csv", "wb")
#writer = csv.writer(f)
#writer.writerows([["a", 1], ["b", 2]])
#f.close()
import pandas as pd

In [17]:
col_names=['imei','model','android','battech','batcap','times','screen','battperc','apprun','cpu','battemp','batvol','batcur','network','plugged','en1','en2','en3']

data0=pd.read_csv('tm.csv',names=col_names)
data0=data0.drop(['en1','en2','en3'],axis=1)
data1=pd.read_csv('tm1.csv',names=col_names)
data1=data1.drop(['en1','en2','en3'],axis=1)
data2=pd.read_csv('tm2.csv',names=col_names)
data2=data2.drop(['en1','en2','en3'],axis=1)
data3=pd.read_csv('tm3.csv',names=col_names)
data3=data3.drop(['en1','en2','en3'],axis=1)

In [88]:
data0=data0.sort_values(['times'])
data1=data1.sort_values(['times'])
data2=data2.sort_values(['times'])
data3=data3.sort_values(['times'])

In [23]:
data0.columns
data=data0.head()

Index(['imei', 'model', 'android', 'battech', 'batcap', 'times', 'screen',
       'battperc', 'apprun', 'cpu', 'battemp', 'batvol', 'batcur', 'network',
       'plugged'],
      dtype='object')

In [11]:
lin=data0.iloc[0]

In [46]:
type(data0['plugged'].unique()[1])

numpy.bool_

In [86]:
lin=data0.iloc[0]
maxs=lin['battperc']
abc=0
low=0
total=0
for i,r in data0.iterrows():
        if lin['battperc']==0:
            maxs=r['battperc']
            total+=abc
            abc=0
        elif r['plugged']==True:
            total=total+abc
            abc=0
            maxs=r['battperc']
        elif r['battperc']<=lin['battperc']:
                low=r['battperc']
                abc=maxs-low
        lin=r

In [87]:
total

213

In [56]:
data0['plugged'].value_counts()

False    263366
True      22644
Name: plugged, dtype: int64

In [54]:
true_count

,imei,model,android,battech,batcap,times,screen,battperc,apprun,cpu,battemp,batvol,batcur,network
plugged,,,,,,,,,,,,,,
False,263366,263366,263366,263366,263366,263366,263366,263366,263366,263366,263366,263366,263366,263366
True,22644,22637,22637,22644,22644,22644,22644,22644,22644,22644,22644,22644,22644,22644

In [91]:
maxs=0
abc=0
low=0
total=0
for i,r in data1.iterrows():
        if r['plugged']==True:
            total=total+abc
            abc=0
            maxs=r['battperc']
        elif lin['battperc']==0:
            maxs=r['battperc']
            total=total+abc
            abc=0
        elif r['battperc']<=lin['battperc']:
                low=r['battperc']
                abc=maxs-low
        lin=r

In [92]:
total

213

In [79]:
maxs=0
abc=0
low=0
total=0
for i,r in data2.iterrows():
        if r['plugged']==True:
            total=total+abc
            abc=0
            maxs=r['battperc']
        elif lin['battperc']==0:
            maxs=r['battperc']
            total+=abc
            abc=0
        elif r['battperc']<=lin['battperc']:
                low=r['battperc']
                abc=maxs-low
        lin=r

In [80]:
total

172

In [93]:
maxs=0
abc=0
low=0
total=0
for i,r in data3.iterrows():
        if r['plugged']==True:
            total=total+abc
            abc=0
            maxs=r['battperc']
        elif lin['battperc']==0:
            maxs=r['battperc']
            total+=abc
            abc=0
        elif r['battperc']<=lin['battperc']:
                low=r['battperc']
                abc=maxs-low
        lin=r

In [94]:
total

547

In [95]:
data0.head()

,imei,model,android,battech,batcap,times,screen,battperc,apprun,cpu,battemp,batvol,batcur,network,plugged
0,867194030192184,Xiaomi Redmi Note 5 Pro,8.1.0,Li-poly,4000.0,1570599949472,False,31,com.zopper.batteryage,0,31.0,4043,1297,wi-fi,True
2,867194030192184,Xiaomi Redmi Note 5 Pro,8.1.0,Li-poly,4000.0,1570599950696,False,31,com.zopper.batteryage,0,31.0,4045,1319,wi-fi,True
5,867194030192184,Xiaomi Redmi Note 5 Pro,8.1.0,Li-poly,4000.0,1570599951343,False,31,com.zopper.batteryage,0,31.0,4045,1319,wi-fi,True
6,867194030192184,Xiaomi Redmi Note 5 Pro,8.1.0,Li-poly,4000.0,1570599953356,False,31,com.zopper.batteryage,0,31.0,4045,1286,wi-fi,True
1,867194030192184,Xiaomi Redmi Note 5 Pro,8.1.0,Li-poly,4000.0,1570599954486,False,31,com.zopper.batteryage,0,31.0,4045,1336,wi-fi,True

In [96]:
data1.head()

,imei,model,android,battech,batcap,times,screen,battperc,apprun,cpu,battemp,batvol,batcur,network,plugged
0,867194030192184,Xiaomi Redmi Note 5 Pro,8.1.0,Li-poly,4000.0,1570599949472,False,31,com.zopper.batteryage,0,31.0,4043,1297,wi-fi,True
2,867194030192184,Xiaomi Redmi Note 5 Pro,8.1.0,Li-poly,4000.0,1570599950696,False,31,com.zopper.batteryage,0,31.0,4045,1319,wi-fi,True
5,867194030192184,Xiaomi Redmi Note 5 Pro,8.1.0,Li-poly,4000.0,1570599951343,False,31,com.zopper.batteryage,0,31.0,4045,1319,wi-fi,True
6,867194030192184,Xiaomi Redmi Note 5 Pro,8.1.0,Li-poly,4000.0,1570599953356,False,31,com.zopper.batteryage,0,31.0,4045,1286,wi-fi,True
1,867194030192184,Xiaomi Redmi Note 5 Pro,8.1.0,Li-poly,4000.0,1570599954486,False,31,com.zopper.batteryage,0,31.0,4045,1336,wi-fi,True

In [97]:
data2.head()

,imei,model,android,battech,batcap,times,screen,battperc,apprun,cpu,battemp,batvol,batcur,network,plugged
0,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599938843,False,37,com.zopper.batteryage,0,24.7,3741,130,none,False
1,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599942514,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False
2,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599942526,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False
3,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599946877,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False
4,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599947492,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False

In [98]:
data3.head()

,imei,model,android,battech,batcap,times,screen,battperc,apprun,cpu,battemp,batvol,batcur,network,plugged
0,358057080902248,samsung SM-G950F,7.0,Li-ion,3000.0,1570599955635,False,15,com.zopper.batteryage,12,27.9,3903,990,wi-fi,True
1,358057080902248,samsung SM-G950F,7.0,Li-ion,3000.0,1570599956134,False,15,com.zopper.batteryage,12,27.9,3903,990,wi-fi,True
2,358057080902248,samsung SM-G950F,7.0,Li-ion,3000.0,1570599961401,False,15,com.zopper.batteryage,27,27.9,3903,948,wi-fi,True
3,358057080902248,samsung SM-G950F,7.0,Li-ion,3000.0,1570599961599,False,15,com.zopper.batteryage,11,27.9,3903,948,wi-fi,True
4,358057080902248,samsung SM-G950F,7.0,Li-ion,3000.0,1570599966354,False,16,com.zopper.batteryage,31,27.9,3910,1012,wi-fi,True

In [99]:
data3.head(1)

,imei,model,android,battech,batcap,times,screen,battperc,apprun,cpu,battemp,batvol,batcur,network,plugged
0,358057080902248,samsung SM-G950F,7.0,Li-ion,3000.0,1570599955635,False,15,com.zopper.batteryage,12,27.9,3903,990,wi-fi,True

In [100]:
data3.tail(1)

,imei,model,android,battech,batcap,times,screen,battperc,apprun,cpu,battemp,batvol,batcur,network,plugged
229629,358057080902248,samsung SM-G950F,7.0,Li-ion,3000.0,1571405176179,False,89,com.zopper.batteryage,25,32.6,4105,25,wi-fi,False

In [101]:
1570599955635-1571405176179

-805220544

In [102]:
805220544/60

13420342.4

In [103]:
13420342/60

223672.36666666667

In [104]:
223672/24

9319.666666666666